<center> 
<form method = "post" action = "/resultsroute">
<h3> Please check to make sure this is correct </h3>
<%size.each do |x|%>
<p>  A <%=x%> Pizza </p>
<p> <input type="radio" value=<%=x%> name= 'size[]' checked> yes </p>
<p> <input type="radio" value=no name= 'no[]'>  no </p>
<%end%>
<%crust.each do |x|%>
<p> with <%=x%> crust</p>
<p> <input type="radio" value=<%=x%> name= 'crust[]' checked> yes </p>
<p> <input type="radio" value=no name= 'no[]'>  no </p>
<%end%>
<%topping.each do |x|%>
<p> with <%=x%> as your meats </p>
<img src = "./img/<%=x%>.jpeg">
<p> <input type="radio" value=<%=x%> name= 'topping[]' checked> yes </p>
<p> <input type="radio" value=no name= 'no[]'>  no </p>
<%end%>
<%veg.each do |x|%>
<p> And <%=x%> </p>
<img src = "./img/<%=x%>.jpeg">
<p> <input type="radio" value=<%=x%> name= 'veg[]' checked> yes </p>
<p> <input type="radio" value=no name= 'no[]'>  no </p>
<%end%>
<%addr.each do |x|%>
<p> Being delivered to: <%=x%> </p>
<p> <input type="radio" value=<%=x%> name= 'addr[]' checked> yes </p>
<p> <input type="radio" value=no name= 'no[]'>  no </p>
<%end%>
<center><input type='submit'></center>
</form>
</center>